<!DOCTYPE html>
<html>

<head>
	<title>My little blog</title>
</head>


<body>

<h1>Welcome to my first RoR app</h1>

<p>
<%= link_to 'About', about_path  %>

</p>
<p>My first paragraph.</p>
<p>
<%= image_tag('t6blue.jpg')	 %>

<table style="width:100%" border: 1px solid red;>
  <tr>
    <th>Left hand section of <b>important</b> text</th>
    <th>Right hand section is a list
		<ul>
			<li>Vans</li>
			<li>Tea stops with cake</li>
			<li>Biking and hiking</li>
			<li>Camping</li>
			<li>No wi fi or noise</li>
		</ul>
	</th> 
  </tr>
  <tr>
  </table>


</body>


</html>